:root, body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    --primary: #2094AB;
    --primary-light: #e7e7e7;
    --primary-dark: #0D6274;
    --secondary: #323232;
    --secondary-light: #656565;
    --secondary-dark: #000000;
    --gradient-color: radial-gradient(circle, rgb(129, 213, 230) 0%, rgb(16, 107, 126) 100%);
}

body {
    font-family: 'Roboto', sans-serif;
}

.spacer {
    flex-grow: 1;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #c5c5c5; 
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
}